{% extends 'base.html' %}

{% block titulo %}Alimento{% endblock %}

{% block principal %}
<div class="row">
    <h2>Borrar alimento</h2>
    <div class="card">
        <div class="card-body">
            <h1>¿Esta seguro de que quiere hacer la eliminación de {{alimentos.nombre}}?</h1>
            <form method="POST">
                {% csrf_token %}
                <a class="btn btn-primary" href="{% url 'gestionaralimentos'%}">Atras</a>
                <input class="btn btn-primary" type="submit" name="Borrar" value="Borrar">
            </form>
        </div>
    </div>
</div>
{% endblock %}